.categories-content {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem 1rem;
}

.filtered-results-container {
  flex: 1;
  overflow-y: auto;
  margin: 1rem 0 0;
}

/* 결과 없을 때 표시되는 영역 */
.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
}

.no-results-message {
  color: #6b7280;
}

.no-results-sub {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
