.category-fixed-container {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  /* padding-bottom: 10px; */
  /* margin-top: -10px; */
  /* padding-top: 10px; */
  /* border-bottom: 1px solid #eaeaea; */
}

.symptom-selector-main-category {
  margin-bottom: 0.5rem;
}

.symptom-selector-sub-category {
  /* margin-bottom: 0.5rem; */
}

.symptom-selector-no-selection {
  color: #6b7280;
}

.section-container {
  margin-bottom: 1rem;
}

/* 스크롤 될 수 있는 요소에 대한 스타일 */
.horizontal-scrollable {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.horizontal-scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
